video {
    background: lightgoldenrodyellow;
    transform: rotateY(180deg);
    width: 100%;
    border: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    transform: rotateY(180deg);
    display: none;
}

code {
    font-weight: bold;
}

#unableToDetectAFace {
    display: none;
}

#distanceDisplay {
    display: none;
}

#videoContent {
    flex: 2;
    margin: 0 20px;
}

#videoContent div:first-child {
    position: relative;
}

#infoContent {
    flex: 2;
    margin: 0 50px;
    padding: 40px;
    justify-content: flex-start;
}

.is-header {
    height: 185px;
    padding-top: 12px;
}

#errorContainer {
    display: none;
}

.footer {
    padding: 2rem 1.5rem 2rem;
}